:root {
  width: 100%;
  height: 100%;
  color: #1b1c1e;
  background: #f6f7fb;
  font-family: Inter;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

button {
  border: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

input,
textarea,
select {
  padding: unset;
  border: unset;
  outline: none;
  box-shadow: none;
}

textarea {
  resize: none;
}
